* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
h1 {
    width: 90%;
    margin: 10px auto;
}
table {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
}
th,
td {
    padding: 3px 0;
}
th {
    text-align: left;
}
td {
    text-align: right;
}

tr + tr > th,
tr + tr > td {
    border-top: 1px dotted #333;
}

input[type="text"] {
    width: 100px;
    margin: 0;
    text-align: right;
}
select {
    float: right;
}
[name="year"] {
    width: 55px;
}
[name="month"] {
    width: 45px;
}
[name="duration"] {
    width: 100px;
}
input[type="submit"] {
    display: none;
}
.c3-tooltip {
    white-space: nowrap;
}